body {
    font-family: Roboto;
    margin: 0px;  
}

img {
    width: 400px;
    height: auto;
}

h3 {
    margin: 0;
}

a:visited {
    color: lightgrey;
}



.hero-section {

}

.hero-section ul {
    list-style: none;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

