body {
    font-family: Roboto;
    margin: 0px;
}

img {
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 700px;
    font-size: 52px;
    margin: 0px;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: lightgrey;
}

/** Menu styling **/

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 10%;
    padding-bottom: 20px;
}

.header ul {
    list-style: none;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

/** Section one styling **/

.block-one {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    padding: 5% 10%;
    justify-content: space-between;
    gap: 10%;
}

.block-one button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    font-weight: 700;
    width: 25%;
    border-radius: 10px;
    padding: 10px 5px;
}

.block-one-text-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.block-one img {
    border-radius: 10px;
}

/** Section two styling **/

.block-two {
    margin-bottom: 5%;
    padding: 0% 20%;
}

.block-two h2 {
    text-align: center;
    padding: 5%
}

.block-two p {
    font-size: 12px;
}

.info-blocks-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-box {
    height: 100px;
    width: 100px;
    border:solid 7px;
    border-color: #3882F6;
    border-radius: 10px;
}

/** Section three styling */

.block-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 20%;
}

.block-three blockquote {
    display: flex;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

.block-three p {
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}