body {
    font-family: Roboto;
    margin: 0;
}

.hero-section {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.hero-section ul {
    list-style: none;
}

.header-logo {
    justify-content: flex-start;
}

.header-links {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

h3 {
    margin: 0;
}